.App {
  text-align: center;
}
.title {
  color: #184d47;
}
.dropConatiner {
  background: #184d47;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.draggable {
  background-color: #fad586;
  margin: 10px;
  width: 5em;
  cursor: grabbing;
  padding: 10px;
}
.dragging {
  opacity: 0.5;
}
.droppedHere {
  background: #96bb7c;
}
